.App {
  display: flex;
  flex-direction: column;
}

.navbar.bg-dark {
  border: 0;
  border-bottom: 2px solid #61dafb;
  margin-bottom: 1rem;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  vertical-align: middle;
}

.navbar.bg-dark .navbar-brand img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.stream-player {
  border: 0;
  width: 100%;
  height: calc(100vh - 8rem);
}
